/* CSS Document */

/*
##################################
##  Global
##################################
*/

* {
    padding: 0;
    margin: 0;
}

/*
##################################
##  Game
##################################
*/

.LongBar {
    background-color: #cbbd38;
}

.TBar {
    background-color: #70116a;
}

.SquareBar {
    background-color: #b7b7b7;
}

.RightLBar {
    background-color: #7acfae;
}

.LeftLBar {
    background-color: #69c124;
}

.RightDownwardBar {
    background-color: #3f1370;
}

.LeftDownwardBar {
    background-color: #0fa0e9;
}

#play_now {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#grid {
    width: 50%;
    margin: 0 auto;
    width: auto;
}

#play_now:hover {
    cursor: hand;
    cursor: pointer;
}

span {
    padding: 3px;
}

#instructions {
    margin: 0 auto;
    width: auto;
    padding: 30px;
}

#grid > div > span, #p1 > div > span, #p2 > div > span, #p3 > div > span, #p4 > div > span {
    width: 17px;
    height: 100%;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 1px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    #grid > div {
        height: 17px;
        > span {
            width: 17px;
            border-radius: 1px;
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    #grid > div {
        height: 22px;
        > span {
            width: 22px;
            border-radius: 1px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #grid > div {
        height: 25px;
        > span {
            width: 25px;
            border-radius: 1px;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    #grid > div {
        height: 28px;
        > span {
            width: 28px;
            border-radius: 1px;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    #grid > div {
        height: 33px;
        > span {
            width: 33px;
            border-radius: 1px;
        }
    }
}

.arrow2 {
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    border-radius: 1px;
    position: relative;
    background-color: #446655;
}