/* CSS Document */

/*
##################################
##  Global
##################################
*/

* {
    padding: 0;
    margin: 0;
}

/*
##################################
##  Game
##################################
*/

.LongBar {
    background-color: #2c1070;
}

.TBar {
    background-color: #377053;
}

.SquareBar {
    background-color: #215470;
}

.RightLBar {
    background-color: #705e17;
}

.LeftLBar {
    background-color: #267013;
}

.RightDownwardBar {
    background-color: #3f1370;
}

.LeftDownwardBar {
    background-color: #700622;
}

#play_now {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#grid {
    margin: 0 auto;
    width: auto;
    /*padding: 30px;*/
    min-height: 400px;
    float: left;
}

#play_now:hover {
    cursor: hand;
    cursor: pointer;
}

span {
    padding: 3px;
}


#instructions {
    margin: 0 auto;
    width: auto;
    padding: 30px;
}

#grid > div > span,
#p1 > div > span,
#p2 > div > span,
#p3 > div > span,
#p4 > div > span {

    width: 17px;
    height: 17px;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 1px;
}

.arrow2  {
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    border-radius: 1px;
    position: relative;
    background-color: #446655;
}